/* Embedded Fonts */




@font-face{
	font-family: georgia;
	src:url(../fonts/georgia.ttf)
}

.italic{
font-style:italic;


}

.line {
	width: 1500px;
	border-bottom: solid 7px black;
	position: relative;
	top: 60px;
	left: 20%;

	margin-left: -250px;
}

.text{
	font-family: 'Lato', sans-serif;

	font-size:20px;
	color: black;
	padding-top: 20px;
	line-height: 2em;
	margin-top: 10px;
	margin-left: 20%;
	margin-right:20%;
	margin-bottom: 20px;
	position: relative;
	table-layout: fixed;

}

.title {

font-family: 'Roboto', sans-serif;
font-size: 145px;
display: table-cell;
color: black;
text-align:center;
padding-top: 100px;
margin-bottom: 20px; 

}
.info{
 font-size:30px;
 text-align:center;
 padding-top:100px;
 padding-left: 40px;
 margin-bottom: 20px;


}



/* Container Items */

.container {
  position: relative;
  width: 100%;
  height: 100%;
}


	
#cover {
	width: 100%;
	height: 100%;
	background: url("../images/picture1.jpg") no-repeat center fixed;
	-webkit-background-size:cover;

}

#picture2{

	width: 40%;
	position: center;
	margin-top: 10px;
	margin-left: 30%;
	margin-right:30%;
	margin-bottom: 20px;
	content: url("../images/picture2.jpg");
	
	

}
#picture3{
	width: 40%;
	position: center;
	margin-top: 10px;
	margin-left: 30%;
	margin-right:30%;
	margin-bottom: 20px;
	content: url("../images/picture3.jpg");

	

}
#picture4{
	width: 40%;
	position: center;
	margin-top: 10px;
	margin-left: 30%;
	margin-right:30%;
	margin-bottom: 20px;
	content: url("../images/picture4.jpg");
	
	

}


}

.italic {
	
}